# Example notebook

In [2]:
from load_matrix import load_matrix

In [3]:
load_matrix('example.data')

     0    1    2
0  0.8  0.7  0.6
1  0.3  0.4  0.2
2  0.9  0.9  0.8
3  0.5  0.7  0.6